/*!
 * Minimal Bootstrap Icons - Only icons used on this site
 * Based on Bootstrap Icons v1.13.1
 */

@font-face {
  font-display: swap;
  font-family: "bootstrap-icons";
  src: url("../vendor/bootstrap-icons/fonts/bootstrap-icons.woff2?e34853135f9e39acf64315236852cd5a") format("woff2"),
url("../vendor/bootstrap-icons/fonts/bootstrap-icons.woff?e34853135f9e39acf64315236852cd5a") format("woff");
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Only the icons we actually use */
.bi-arrow-up-short::before { content: "\f145"; }
.bi-calculator::before { content: "\f1e0"; }
.bi-calendar-check::before { content: "\f1e2"; }
.bi-clock::before { content: "\f293"; }
.bi-envelope::before { content: "\f32f"; }
.bi-facebook::before { content: "\f344"; }
.bi-geo-alt::before { content: "\f3e8"; }
.bi-images::before { content: "\f42b"; }
.bi-instagram::before { content: "\f437"; }
.bi-list::before { content: "\f479"; }
.bi-people::before { content: "\f4d0"; }
.bi-person::before { content: "\f4e1"; }
.bi-telephone::before { content: "\f5c1"; }
.bi-whatsapp::before { content: "\f618"; }
.bi-twitter-x::before { content: "\f8db"; }
